{% extends 'base.html.twig' %}


{% block title %}Campus index{% endblock %}

{% block body %}
    <h1>Campus index</h1>

    <div class="navigation">
        {{ knp_pagination_render(campuss) }}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>


        </tr>
        </thead>
        <tbody>
        {% for campus in campuss %}
            <tr>
                <td>{{ campus.id }}</td>
                <td>{{ campus.nom }}</td>


                <td>
                  <a href="{{ path('campus_afficher', {'id': campus.id}) }}">afficher</a>
                    <a href="{{ path('campus_modifier', {'id': campus.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(campuss) }}
    </div>

   <a href="{{ path('campus_ajouter') }}">Ajouter ville</a>
{% endblock %}