
{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <h1>Ville</h1>

    <table class="table">
        <tbody>

        <tr>
            <th>Nom</th>
            <td class="gras">{{ ville.nom }}</td>
        </tr>
        <tr>
            <th>codePostal</th>
            <td>{{ ville.codePostal }}</td>
        </tr>

        </tbody>
    </table>
    <br>
    <br>

    <a href="{{ path('ville_liste') }}">Retour à la liste</a>
    -
    <a href="{{ path('ville_modifier', {'id': ville.id}) }}"  class="button" >Modifier</a>
    <br><br>

    {{ include('ville/suppression_form.html.twig') }}
{% endblock %}