<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sortir avec l'ENI{% endblock %}</title>

        {# google font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">

        {# notre css #}
        <link rel="stylesheet" href="{{  asset('css/app.css') }}">

        {# le favicon #}
        <link rel="icon" href="{{ asset('img/favicon.png') }}">

        <meta name="description" content="{% block metadescription %}Le site des sorties des étudiants de l'ENI !{% endblock %}">

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <header>
            <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo_Sortir.com.svg') }}" alt="Logo de Sortir.com!"></a></h1>
            {% include('nav/nav.html.twig')  %}
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div>
                © Sortir avec l'ENI {{ "now"|date("Y") }}
            </div>
        </footer>
    </div>

    </body>
</html>
