<nav >
    <ul>
        {# {{ path('nom du root') }} => pour rediriger vers une page#}
        <li><a href="{{ path('main_home') }}" title="Home">Accueil</a></li>


        {%  if app.user %} {# Si un utilisateur est connecté #}


          <li><a href="{{ path("app_logout") }}" title="Logout" >Se deconnecter {{ app.user.prenom}}</a></li>

            {% if is_granted("ROLE_ADMIN") %}
               {# <li><a href="{{ path("admin_dashboard") }}" title="Admin dashboard"> admin</a></li> #}
                <li><a href="{{ path("campus_liste",{'page':1}) }}" title="Admin campus"> Campus</a></li>
                <li><a href="{{ path("ville_liste", {'page':1}) }}" title="Admin liste"> Villes</a></li>
            {% endif %}

        {%else %}

            <li><a href="{{ path("app_login") }}" title="Login" >Se connecter</a></li>
            <li><a href="{{ path("app_register") }}" title="register" >Creer un profil</a></li>

        {%  endif %}

    </ul>
</nav>